@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&family=Roboto:wght@100;400;700&display=swap');


/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color : #183b56
    --secondary-text-color : #577592
    --accent-color: #2294ed
    --accent-color-dark : #1d69a3
    --padding-inline-section : 20px
}

body{
    font-family: 'Poppins', sans-serif;

    color: var(--primary-text-color);
}


h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/* utility classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    /*  gives margin from left n right */
    margin-inline: auto;
    padding: var(--padding-inline-section);
    
}

.flex{
    display: flex;
    align-items: center;
}

.secondary-button{
    border: 0.5px solid  #183b56;
    padding:12px 24px;
    border-radius: 6px;
    font-weight: 700;
    color:#577592 !important;
}

.secondary-button:hover{
    border-color: #2294ed;
    color: #2294ed !important;
}

.primary-button{
    background-color: #2294ed;
    /* border: 1px solid; */
    padding:12px 24px;
    border-radius: 6px;
    color: white !important;
    font-weight: 700;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2 ease-out;
}

.primary-button:hover
{
    background-color: #1d69a3;
}
/* top banner */

.top-banner{
    background-image: url('assets/asset\ 30.png');
    background-size: 300px;
    background-repeat: repeat;
    background-color: #4fb3d9;
}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align : center;

}


/* Main Nav Bar */

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}

/* company logo ke andar ke images */
.company-logo img{
    width: 200px;
}

.nav-items{
    justify-content: end;
    gap:40px
}

.nav-links{
    flex-basis: 730px;
}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.7 ease-out;
}

.hover-link:hover {
    color: #2294ed;
    
}